/* CSS Document */

html{
	background-color:#fefefe;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

body{
	
}
#main{
	margin: 0 auto;
    width: 936px;
}

.timer_keeper, div.smite{
	background: none no-repeat scroll right top #222;
    border: 1px solid #000;
    color: #aaa;
    border-radius: 6px 6px 6px 6px;
    float: left;
    height: 200px;
    margin: 5px;
    text-align: center;
    width: 300px;
}
.timer_keeper{cursor:pointer;}
.timer_keeper.hover{background-color:#333;}
.timer_keeper.baron{background-image:url("../img/baron.png");}
.timer_keeper.dragon{background-image:url("../img/dragon.png");}
.timer_keeper.blue{background-image:url("../img/blue.png");}
.timer_keeper.red{background-image:url("../img/red.png");}
.timer_keeper.ward{background-image:url("../img/ward.png");}
.timer_keeper.tp{background-image:url("../img/tp.png");}
.timer_keeper.flash{background-image:url("../img/flash.png");}

h1{text-transform:uppercase; font-size:22px; text-shadow:1px 1px #333; margin-bottom: 0;}
h1.blue{color: #1276de;}
h1.red{color: #94293d;}
h1.yellow{color: #918A39;}
h1.dragon{color:#eb3220;}
h1.baron{color:#5c1038;}
h1.ward{color:#3b8612;}
h1.tp{color:#79438b;}
h1.flash{color:#e1dd4a;}

h1.smite{color: #7127a3; margin-bottom:5px; }

.timer{font-weight:bold; font-size:111px; text-shadow:0px 4px 10px #000;}
div.smite {
    height:624px; float:right; color: #eee; background-image:url("../img/smite.png");
}
#explanation{
	font-size:11px;
	color:#333;
	text-align: right;
}

table{font-size: 19px;
    width: 100%;}
table tr{cursor:pointer;}
table tr td{

    margin: 0;
    padding: 3px;
    width: 50%;
	border-bottom: 1px solid #000}
}
div.smite tr.active{background-color:#A59BAA; color:#000;}
div.smite tr.hover{background-color:#333;}

div.timer.up{color:#090;}
div.timer.crucial{color:#ca210f;}
#settings {
    text-align: right;
}
#browser-compat {color: #ca210f;}

